.headerSearch {
  background: #323232;
  height: 40px;
  border-radius: 10px;
  color: #fff;
  font-family: "Poppins";
  padding: 0 15px;
  min-width: 400px;
  font-size: 18px;
  outline: none;
  border: 1px solid #424242;
  transition: 0.3s;
  &::placeholder {
    color: #fff;
  }
  &:hover {
    background-color: #252525;
  }
	&:focus {
		border-color: var(--color-green);
	}
}

.headerSearchForm {
  position: relative;
}

.headerInputIcon {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
}


.mobInput {
  background: #323232;
  border-radius: 10px;
  font-family: "Poppins";
  border: 1px solid #424242;
	color: #fff;
	&::placeholder {
    color: #fff;
  }
}
